### This jupyter notebook is to test the yahoo finance

In [1]:
import yfinance as yf

In [2]:
from pandas_datareader import data as pdr

In [3]:
aapl = yf.Ticker("AAPL")

## aapl.history: get historical market data

In [4]:
# Valid options for "period": 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo, 1y, 2y, 
# 5y, 10y and ytd.

In [5]:
aapl.history(period="1y")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-09-28 00:00:00-04:00,168.477881,171.154189,166.766637,169.821014,56294400,0.0,0.0
2023-09-29 00:00:00-04:00,171.144237,172.188895,169.472783,170.338364,51814200,0.0,0.0
2023-10-02 00:00:00-04:00,170.348314,173.412636,170.059782,172.865433,52164500,0.0,0.0
2023-10-03 00:00:00-04:00,171.383006,172.746042,169.950350,171.522293,49594600,0.0,0.0
2023-10-04 00:00:00-04:00,170.218956,173.323082,170.099572,172.775879,53020300,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-23 00:00:00-04:00,227.339996,229.449997,225.809998,226.470001,54146000,0.0,0.0
2024-09-24 00:00:00-04:00,228.649994,229.350006,225.729996,227.369995,43556100,0.0,0.0
2024-09-25 00:00:00-04:00,224.929993,227.289993,224.020004,226.369995,42308700,0.0,0.0
2024-09-26 00:00:00-04:00,227.300003,228.500000,225.410004,227.520004,36636700,0.0,0.0
2024-09-27 00:00:00-04:00,228.460007,229.520004,227.300003,227.789993,33993600,0.0,0.0

## Multiple tickers

In [6]:
tickers = yf.Tickers('msft aapl goog')

In [7]:
### Access the ticker
tickers.tickers['GOOG'].history(period='1y')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-09-28 00:00:00-04:00,130.369839,133.851279,130.369839,132.803864,18201400,0.0,0.0
2023-09-29 00:00:00-04:00,133.751525,134.559539,130.998292,131.526993,23224200,0.0,0.0
2023-10-02 00:00:00-04:00,131.831239,135.028389,131.741463,134.838852,19210400,0.0,0.0
2023-10-03 00:00:00-04:00,134.599431,134.908684,132.489622,132.973434,19628700,0.0,0.0
2023-10-04 00:00:00-04:00,133.332551,136.235425,133.103103,135.936157,22848000,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-23 00:00:00-04:00,165.339996,166.610001,162.949997,163.070007,15648400,0.0,0.0
2024-09-24 00:00:00-04:00,164.250000,164.550003,162.029999,163.639999,18774100,0.0,0.0
2024-09-25 00:00:00-04:00,162.970001,164.216995,162.774994,162.990005,13607900,0.0,0.0
2024-09-26 00:00:00-04:00,165.029999,165.500000,163.500000,163.830002,18234500,0.0,0.0
2024-09-27 00:00:00-04:00,163.910004,166.970001,163.830002,165.289993,13593000,0.0,0.0

## Reading commodities into python with yahoo finance

In [8]:
gold = yf.download('SB=F', '2020-03-23')

[*********************100%***********************]  1 of 1 completed

In [9]:
gold

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-03-23  10.770000  11.150000  10.720000  11.040000  11.040000   61105
2020-03-24  11.230000  11.550000  11.210000  11.270000  11.270000   57007
2020-03-25  11.420000  11.680000  11.310000  11.410000  11.410000   66503
2020-03-26  11.520000  11.590000  11.260000  11.330000  11.330000   56157
2020-03-27  11.330000  11.450000  11.060000  11.100000  11.100000   59088
...               ...        ...        ...        ...        ...     ...
2024-09-23  22.410000  23.170000  22.280001  22.549999  22.549999   35554
2024-09-24  22.500000  23.299999  22.379999  23.120001  23.120001   38327
2024-09-25  22.990000  23.570000  22.900000  23.420000  23.420000   32166
2024-09-26  23.580000  23.709999  23.230000  23.309999  23.309999   23465
2024-09-27  23.219999  23.219999  22.510000  22.790001  22.790001   23465

[1139 rows x 6 columns]

In [10]:
oil = yf.download('CL=F', '2020-03-23')
oil

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-03-23  22.520000  24.070000  20.799999  23.360001  23.360001  852951
2020-03-24  23.870001  25.160000  23.090000  24.010000  24.010000  659697
2020-03-25  24.370001  25.240000  22.910000  24.490000  24.490000  618725
2020-03-26  24.250000  24.650000  22.379999  22.600000  22.600000  633877
2020-03-27  23.290001  23.440001  20.879999  21.510000  21.510000  603124
...               ...        ...        ...        ...        ...     ...
2024-09-23  71.309998  71.809998  69.489998  70.370003  70.370003  338267
2024-09-24  70.760002  72.400002  70.440002  71.559998  71.559998  318516
2024-09-25  71.540001  71.720001  69.230003  69.690002  69.690002  476237
2024-09-26  69.889999  70.010002  66.949997  67.669998  67.669998  478069
2024-09-27  67.449997  68.650002  67.059998  68.180000  68.180000  478069

[1138 rows x 6 columns]

## Some commodity tickers

- gold: SB=F
- Crude Oil: CL=F
- Silver: XAG=