# Read congressional data

In [2]:
import pandas as pd
import numpy as np

In [6]:
# Read SenatorCleaned.csv

df_senate = pd.read_csv('../Data/SenatorCleaned.csv')

In [7]:
df_senate

,Unnamed: 0,Name,Transaction.Date,Owner,Ticker,Asset.Name,Asset.Type,Type,Amount,Comment
0,1,Sheldon Whitehouse,11/25/2014,Self,M,"Macy's, Inc. (NYSE)",Stock,Purchase,1001.0,--
1,2,Sheldon Whitehouse,12/18/2014,Self,BEAV,B/E Aerospace Inc. (NASDAQ),Stock,Sale (Full),15001.0,--
2,3,Sheldon Whitehouse,12/18/2014,Self,KORS,Michael Kors Holdings Limited (NYSE),Stock,Sale (Partial),1001.0,--
3,4,Sheldon Whitehouse,12/18/2014,Self,T,"AT&T, Inc. (NYSE)",Stock,Purchase,1001.0,--
4,5,Sheldon Whitehouse,12/18/2014,Self,KEYS,"Keysight Technologies, Inc. (NYSE)",Stock,Sale (Full),1001.0,Agilent Tech common stock completed a spinoff ...
...,...,...,...,...,...,...,...,...,...,...
15661,15662,Lamar Alexander,5/31/2019,Spouse,--,Little Star Partnership\r\nCompany: Little Sta...,Other Securities,Purchase,100001.0,Little Star Partnership is a family Company ow...
15662,15663,Lamar Alexander,4/1/2016,Spouse,--,Montgomery County\r\nRate/Coupon: 5.00\r\nMatu...,Municipal Security,Sale (Full),15001.0,--
15663,15664,Lamar Alexander,9/6/2017,Spouse,--,Sevier County Tenn Pub Bldg\r\nRate/Coupon: 5....,Municipal Security,Purchase,50001.0,--
15664,15665,Lamar Alexander,9/7/2017,Spouse,--,Wilson County Tenn GO\r\nRate/Coupon: 5.00%\r\...,Municipal Security,Purchase,50001.0,--
15665,15666,Lamar Alexander,9/13/2017,Spouse,--,Metropolitan Govt Nashville Water and Sewer\r\...,Municipal Security,Purchase,15001.0,--

In [8]:
# stock_prices_2023_to_now
df_stock_price = pd.read_csv('../Data/stock_prices_2023_to_now.csv')

In [9]:
df_stock_price

              Date Ticker       Close
0       2023-01-03  AAGIY   45.799999
1       2023-01-03    AAP  151.539993
2       2023-01-03   AAPL  125.070000
3       2023-01-03   ABBV  162.380005
4       2023-01-03   ABNB   84.900002
...            ...    ...         ...
187121  2024-07-17      X   38.139999
187122  2024-07-17  XNGSY   30.719999
187123  2024-07-17    XOM  117.639999
187124  2024-07-17      Z   52.720001
187125  2024-07-17    ZTS  182.050003

[187126 rows x 3 columns]

In [11]:
# congress-trading-all
df_congress = pd.read_csv('../Data/congress-trading-all.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa3 in position 209833: invalid start byte