# Read congressional data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read SenatorCleaned.csv

df_senate = pd.read_csv('../Data/SenatorCleaned.csv')

In [3]:
df_senate

,Unnamed: 0,Name,Transaction.Date,Owner,Ticker,Asset.Name,Asset.Type,Type,Amount,Comment
0,1,Sheldon Whitehouse,11/25/2014,Self,M,"Macy's, Inc. (NYSE)",Stock,Purchase,1001.0,--
1,2,Sheldon Whitehouse,12/18/2014,Self,BEAV,B/E Aerospace Inc. (NASDAQ),Stock,Sale (Full),15001.0,--
2,3,Sheldon Whitehouse,12/18/2014,Self,KORS,Michael Kors Holdings Limited (NYSE),Stock,Sale (Partial),1001.0,--
3,4,Sheldon Whitehouse,12/18/2014,Self,T,"AT&T, Inc. (NYSE)",Stock,Purchase,1001.0,--
4,5,Sheldon Whitehouse,12/18/2014,Self,KEYS,"Keysight Technologies, Inc. (NYSE)",Stock,Sale (Full),1001.0,Agilent Tech common stock completed a spinoff ...
...,...,...,...,...,...,...,...,...,...,...
15661,15662,Lamar Alexander,5/31/2019,Spouse,--,Little Star Partnership\r\nCompany: Little Sta...,Other Securities,Purchase,100001.0,Little Star Partnership is a family Company ow...
15662,15663,Lamar Alexander,4/1/2016,Spouse,--,Montgomery County\r\nRate/Coupon: 5.00\r\nMatu...,Municipal Security,Sale (Full),15001.0,--
15663,15664,Lamar Alexander,9/6/2017,Spouse,--,Sevier County Tenn Pub Bldg\r\nRate/Coupon: 5....,Municipal Security,Purchase,50001.0,--
15664,15665,Lamar Alexander,9/7/2017,Spouse,--,Wilson County Tenn GO\r\nRate/Coupon: 5.00%\r\...,Municipal Security,Purchase,50001.0,--
15665,15666,Lamar Alexander,9/13/2017,Spouse,--,Metropolitan Govt Nashville Water and Sewer\r\...,Municipal Security,Purchase,15001.0,--

In [10]:
df_senate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15666 entries, 0 to 15665
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        15666 non-null  int64
 1   Name              15666 non-null  object
 2   Transaction.Date  15666 non-null  object
 3   Owner             15666 non-null  object
 4   Ticker            15666 non-null  object
 5   Asset.Name        15666 non-null  object
 6   Asset.Type        14250 non-null  object
 7   Type              15666 non-null  object
 8   Amount            15665 non-null  float64
 9   Comment           15666 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [4]:
# stock_prices_2023_to_now
df_stock_price = pd.read_csv('../Data/stock_prices_2023_to_now.csv')

In [5]:
df_stock_price

              Date Ticker       Close
0       2023-01-03  AAGIY   45.799999
1       2023-01-03    AAP  151.539993
2       2023-01-03   AAPL  125.070000
3       2023-01-03   ABBV  162.380005
4       2023-01-03   ABNB   84.900002
...            ...    ...         ...
187121  2024-07-17      X   38.139999
187122  2024-07-17  XNGSY   30.719999
187123  2024-07-17    XOM  117.639999
187124  2024-07-17      Z   52.720001
187125  2024-07-17    ZTS  182.050003

[187126 rows x 3 columns]

In [9]:
df_stock_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187126 entries, 0 to 187125
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    187126 non-null  object
 1   Ticker  187126 non-null  object
 2   Close   187126 non-null  float64
dtypes: float64(1), object(2)
memory usage: 4.3+ MB

In [8]:
# congress-trading-all
#df_congress = pd.read_csv('../Data/congress-trading-all.csv', encoding="utf-16")